.table-action {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.button-nutri {
  border: 1px solid #ececf2;
  background: #fff;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
  cursor: pointer;
}


