@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./assets/scss/_style.scss");
@import url("react-toastify/dist/ReactToastify.css");
@import url("./assets/scss/_unicons.scss");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #585858;
  background: #f3f4f7;
}
input {
  outline: none;
}
.input-primary:hover,
.input-primary:focus {
  @apply border border-b-primary border-transparent;
}
.input-primary {
  @apply border border-b-transparent border-transparent border-b-[#f0f0f3];
}
.star-field {
  @apply text-red-500 mr-1;
}
.shadowCustom {
  box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
}
.shadowSidebar {
  box-shadow: rgba(75, 75, 90, 0.075) 1px 0.05rem 0.01rem;
}
/* CSS */
.ant-radio-wrapper.ant-radio-wrapper-checked .ant-radio-inner {
  background-color: green; /* Thay đổi màu sắc ở đây */
  border-color: green; /* Thay đổi màu viền ở đây nếu cần */
}
.react-select__placeholder {
  color: #8181a5 !important;
  font-size: 12px !important;
}
.react-select__control .react-select__indicator-separator {
  display: none !important;
}
.react-select__single-value {
  font-weight: 600;
}
.css-1wa3eu0-placeholder {
  color: rgb(128, 128, 128);
  margin-left: 2px;
  margin-right: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
}
/* CSS cho radio button không được chọn (không active) */
.ant-radio-wrapper .ant-radio-inner {
  background-color: white; /* Màu mặc định */
  border-width: 5px;
  border-color: #d9d9d9; /* Màu viền mặc định */
}
.form-group .react-select__control {
  min-height: 34px;
  min-height: unset;
  border: none;
  border-bottom: 1px solid #f0f0f3;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 0;
}
.form-group .react-select__control:hover {
  border: none;
  border-bottom: 1px solid #48a800 !important;
}
.form-group .react-select__control .react-select__control--is-focused {
  border-bottom: 1px solid #48a800 !important;
  outline: none !important;
  border: none !important;
}
.react-select__control {
  .react-select__value-container {
    padding-left: 0;
  }
  &:hover {
    border: none;
    border-bottom: 1px solid #f0f0f3;
  }
}

.custom-height {
  min-height: auto;
}
//table
.table-wrapper {
  overflow-x: auto;
  border-radius: 8px;
  max-height: calc(100vh - 350px);
  height: 100%;
  overflow-y: scroll;
}

.MuiTableContainer-root::-webkit-scrollbar,
.table-wrapper::-webkit-scrollbar,
.rdt_Table::-webkit-scrollbar {
  width: 8px;
  background-color: #7878781a;
}
.MuiTableContainer-root::-webkit-scrollbar-thumb,
.table-wrapper::-webkit-scrollbar-thumb,
.rdt_Table::-webkit-scrollbar-thumb {
  background-color: #bbbbbbb8;
  border-radius: 5px;
}

.MuiTableContainer-root::-webkit-scrollbar-thumb:hover,
.table-wrapper::-webkit-scrollbar-thumb:hover,
.rdt_Table::-webkit-scrollbar-thumb:hover {
  background-color: #bbbbbb;
}

.table-wrapper table {
  width: 100%;
}
.table-wrapper thead,
.MuiTable-root thead {
  background-color: #f4f6f8 !important;
  font-size: 14px !important;
}
.css-1ex1afd-MuiTableCell-root,
.rdt_TableCell {
  color: #6c757d !important;
  font-size: 14px !important;
}
.custom-table th,
.custom-table td,
.table-wrapper th,
.table-wrapper td,
.MuiTable-root td,
.MuiTable-root th,
.rdt_TableRow {
  vertical-align: middle !important;
}
.MuiTableContainer-root {
  max-height: calc(100vh - 350px) !important;
  height: 100% !important;
  overflow-y: scroll !important;
}
.rdt_Table {
  max-height: calc(100vh - 350px) !important;
  height: 100% !important;
  overflow-y: scroll !important;
}
.table-wrapper tbody,
.MuiTable-root tbody {
  background-color: white !important;
}
.custom-table th,
.table-wrapper th,
.MuiTable-root th {
  font-weight: 700 !important;
  text-align: left !important;
  color: #585858 !important  ;
  padding: 14px;
  font-size: 15px !important;
}
.custom-table td,
.table-wrapper td,
.MuiTable-root td {
  padding: 15px 20px !important;
  font-size: 13px !important;
}

.table-wrapper tbody tr:hover,
.MuiTable-root tbody tr:hover,
.rdt_TableRow:hover {
  background-color: #48a8001a !important;
  cursor: pointer;
}
.custom-table tbody tr,
.table-wrapper tbody tr {
  box-shadow: 0 0.05rem 0.01rem rgba(75, 75, 90, 0.075);
}
.ant-tabs-tab,
.ant-tabs-tab-active {
  font-weight: 600;
  min-width: 200px;
  text-align: center;
  @apply flex items-center justify-center;
  border: none !important;
  font-size: 16px !important;
  padding: 15px 20px !important;
}
.ant-tabs-tab {
  background: white !important;
  color: #8181a5 !important;
}
.ant-tabs-tab-active {
  background: #48a8001a !important;
}
.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs-tab:hover .ant-tabs-tab-btn {
  color: #48a800 !important;
}
.ant-tabs-nav {
  padding: 20px 20px 0 20px;
  margin: 0 !important;
}
.ant-tabs-nav::before {
  border-bottom: none !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
// Toast
.Toastify__toast {
  border-radius: 10px;
  // padding: 20px;
  /* background: #fff !important; */
  border: 1px solid transparent;
}

.Toastify__toast--success {
  background: #00c292 !important;
  border-color: #00c292 !important;
}

.Toastify__toast--error {
  background: #e46a76 !important;
  border-color: #e46a76 !important;
}

.Toastify__toast--info {
  background: #03a9f3 !important;
  border-color: #03a9f3 !important;
}

.Toastify__toast--warning {
  background: #fec107 !important;
  border-color: #fec107 !important;
}

.Toastify__close-button {
  opacity: 1;
  padding-top: 7px;
  padding-left: 3px;
  padding-right: 5px;
}
.Toastify__toast-icon {
  display: none;
}
.Toastify__toast-body {
  margin-left: 2px;
  margin: auto 0;
  flex: 1 1 auto;
}
.Toastify__toast-body > div:last-child {
  word-break: break-all;
  flex: 1;
}
// Flatpickr
.flatpickr-input {
  color: #000000;
  font-weight: 500;
}
// hover focus
// .form-control ::hover ::active {
//   border-color: #4285f4 !important;
// }
//react-small
.select-small__control {
  max-width: 150px;
  width: 100%;
  height: 34px;
  overflow: hidden;
}
.select-small__menu {
  z-index: 9999 !important;
}

.select-small__indicator-separator {
  display: none;
}
// react-select
.react-select__control,
.select-small__control {
  min-height: 34px;
  min-height: unset;
  border: none;
  border-bottom: 1px solid #f0f0f3;
  border-radius: 0;
  &.dont-line {
    border-bottom: none;
  }

  .react-select__value-container {
    padding: 2px 8px;
    min-height: 34px;
    min-width: 170px;
    .react-select__single-value {
      // font-weight: 600;;
      color: #252631;
    }
  }

  .react-select__placeholder {
    font-size: unset !important;
  }

  .react-select__input {
    > input {
      height: unset;
    }
  }

  .react-select__indicator-separator {
    display: none;
  }

  &.react-select__control--is-focused,
  &.select-small__control--is-focused {
    outline: none;
    border: none;
    box-shadow: none;
    border: 1px solid #48a800 !important;
  }

  &:hover {
    // border: none;
    border: 1px solid #48a800 !important;
  }
  &:focus {
    border: 1px solid #48a800 !important;
  }
  &:active {
    border: 1px solid #48a800 !important;
  }
}

//css phianh

// modal delete
.ant-modal-content {
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.ant-modal-footer {
  @apply flex items-center justify-center gap-x-3;
}
.ant-btn-default,
.ant-btn-default:hover {
  @apply bg-primary50 text-primary px-16 py-5 flex items-center justify-center;
  border: none;
}

.ant-btn-primary {
  @apply text-primary50 bg-primary px-16 py-5 flex items-center justify-center;
  color: white !important;
}
:where(.css-dev-only-do-not-override-1vr7spz).ant-btn-default:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  color: #48a800;
  border-color: none;
}

:where(.css-dev-only-do-not-override-1vr7spz).ant-btn-primary:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  color: #fff;
  background-color: #48a800;
}

// view

.only-view {
  input {
    border: none;
    pointer-events: none;
    border-bottom: 1px solid #d6d6d6;
  }
  textarea {
    border: none;
    pointer-events: none;
    border-bottom: 1px solid #d6d6d6;
    &.pointer {
      pointer-events: inherit !important;
      background: inherit !important;
    }
  }
  .react-select__indicators {
    display: none !important;
  }
  .react-select__control {
    border: none;
    border-bottom: 1px solid #d6d6d6;
    background-color: transparent !important;
  }
  .react-select__multi-value__remove {
    display: none;
  }
  .react-select__multi-value--is-disabled {
    padding-right: 3px;
  }
  label {
    pointer-events: none;
  }
  &:hover {
    border-color: #48a800;
  }
}
//pagination

.page-active a {
  @apply text-white bg-primary border-transparent;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: #48a8001a;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #bbbbbb;
  border-radius: 3px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #bbbbbb;
}

// css image
.tee-file-preview {
  width: 269px;
  height: 187px;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin: 0;
  background-color: #ffffff;
}
.tee-file-hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.34);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30%;
  bottom: 0;
  top: unset;
}
.tee-file-hover span {
  color: #fff;
}
.tee-file-preview:hover .tee-file-hover {
  opacity: 1;
}
.small,
small {
  font-size: 80%;
  font-weight: 400;
}
.tee-file-input {
  display: none !important;
}

.sidebar-menu .sidebar {
  width: 70px;
  transition: all 0.2s linear;
  margin-top: 3px;
}
.sidebar-menu .logo-wrapper {
  max-width: 90px;
  width: 100%;
  transition: all 0.2s linear;
}
.sidebar-menu .logo-small {
  display: block;
  transition: all 0.2s linear;
}
.logo-small {
  display: none;
  transition: all 0.2s linear;
}
.sidebar-menu .logo {
  display: none;
  transition: all 0.2s linear;
}
.sidebar-menu .custom-layout {
  grid-template-columns: 70px minmax(0, 1fr);
  transition: all 0.2s linear;
}
.sidebar-menu * .action-bottom {
  left: 71px;
}

.sidebar-menu * .heading-menu {
  display: none;
}
.sidebar-menu * .menu-title {
  display: none;
}
.sidebar-menu * .link-menu {
  padding-left: 20px;
}

.sidebar-menu .link-menu:hover {
  display: block;
  width: 250px;
}
.lnndaO {
  font-weight: 600 !important;
  text-align: left !important;
  color: #585858 !important;
  font-size: 15px !important;
  overflow: unset !important;
  font-weight: bold !important;
}
.rdt_TableHeadRow {
  background-color: #f4f6f8 !important;
  font-size: 16px !important;
  padding: 10px 0 !important;
}

// css text
.text-success {
  color: #48a81d !important;
}
.text-danger {
  color: #ff5c75 !important;
}

// css button
.btn-info {
  color: #fff;
  background-color: #25c2e3;
  border-color: #25c2e3;
}
